<html>
<head>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <center>
	<h2 style="color:#b0bec5"><u>Application Form</u></h2></center>
<div class="container" align="center">

<p align="left" style="padding-left:100px; padding-bottom:-10px"><label for="Job Name"><b>Job Name</b></label></p>
<input name="Email_Address" type="text" maxlength="100" style="width: 535px" />

<p align="left" style="padding-left:90px"><label for="Job Description"><b>Job Description</b></label></p>
<br><input name="Position" type="text" maxlength="100" style="width: 535px" />

<p align="left" style="padding-left:90px"><label for="Skills Required"><b>Skills Required</b></label></p>
<br><input name="Position" type="text" maxlength="100" placeholder="skill 1" style="width: 535px" />

<br><input name="Position" type="text" maxlength="100" placeholder="skill 2" style="width: 535px" />

<br><input name="Position" type="text" maxlength="100" placeholder="skill 3" style="width: 535px" />

<p align="left" style="padding-left:90px"><label for="Reference"><b>Why do you Want to get this job ?</b></label></p>
<textarea name="Reference" rows="7" cols="40" style="width: 535px"></textarea>
<br>
<center>
<input type="button" class="submit" value="Submit" onclick="apply.html"></center>
<br><br><br>

</div>
</body>
</html>