body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-image:url("verywell.jpg");
}




.me{
width:900px
position:top;
padding:5px;

}
.me .f1
{
margin:15px;
margin-bottom:30px;
font-size:25px;
font-weight:bold;
color:white;
text-decoration:none;
}
.me input[type="text"],input[type="password"]
{
width:230px;
height:40px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}

.me input[type="password"]
{
width:230px;
height:40px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}
.me input[type="submit"]
{
width:230px;
height:40px;
border:none;
border-radius:2px;
font-size:17px;
background-color:#7F8C8D;
border-bottom:3px solid #616A6B;
color:white;
font-weight:bold;
}


.form_div
{

width:530px;
position:right;
padding:5px;
}
.form_div .form_label
{
margin:15px;
margin-bottom:30px;
font-size:25px;
font-weight:bold;
color:white;
text-decoration:none;
}
.form_div input[type="text"]
{
width:230px;
height:40px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}






.you
{

width:530px;
position:right;
padding:5px;
}
.you .f2
{
margin:15px;
margin-bottom:30px;
font-size:25px;
font-weight:bold;
color:white;
text-decoration:none;
}
.you input[type="text"],input[type="password"]
{
width:468px;
height:40px;
border-radius:2px;
font-size:17px;
padding-left:5px;
border:none;
}
.you input[type="submit"]
{
width:470px;
height:40px;
border:none;
border-radius:2px;
font-size:17px;
background-color:#7F8C8D;
border-bottom:3px solid #616A6B;
color:white;
font-weight:bold;
}